/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
 }
body {
  margin: auto;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: auto;
  // background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
  background-color: #ccc;
  animation: gradient 30s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.right{
  display: flex;
  justify-content: flex-end;

}
